
{$DOMAIN_NAME} {
  # HTTPS Options
  tls {$TLS_EMAIL}

  # Test HTTPS setup
  # tls {$TLS_EMAIL} {
  #   ca https://acme-staging-v02.api.letsencrypt.org/directory
  # }


  # Removing some headers for improved security:
  header -Server

  @noRedirect {
    not path /maintenance.html
    not path /offline.png
  }
  @maintenanceModeActive file {
    root /srv
    try_files maintenance.on
  }
  handle @maintenanceModeActive {
    root * /srv
    redir @noRedirect /maintenance.html
    file_server {
      status 503
    }
  }

  # Serves static files, should be the same as `STATIC_ROOT` setting:
  root * /var/www/django
  file_server

  @noStatic {
    not path /static/* /media/* /{$AWS_STORAGE_BUCKET_NAME}* /{$AWS_STORAGE_PRIVATE_BUCKET_NAME}* /minio*
  }


  # Serving dynamic requests:
  reverse_proxy @noStatic django:8000

    @min_bucket {
        path /{$AWS_STORAGE_BUCKET_NAME}* /{$AWS_STORAGE_PRIVATE_BUCKET_NAME}*
    }
    reverse_proxy @min_bucket minio:{$MINIO_PORT}

  # Allows to use `.gz` files when available:
  encode gzip

  # Logs, will keep 5 GB
  log {
    output file /var/log/caddyaccess.log {
      roll_size 5000MiB
    }
  }
}

